<div class="footer">
    <div class="footer-credit">made by yasmine boulkaid - 2026</div>
    <a href='https://www.youtube.com/watch?v=wccRif2DaGs' class="footer-quote">slow down, you're doing fine</a>
</div>