<div class="header">
    <div class="blog-name"><a href="/" style="color: pink;">miss poopy pants</a></div>
    <div class="menu">
        <ul>
            <li><a href="about">about</a></li>
            <li><a href='movies'>movies</a></li>
            <li><a href='books'>books</a></li>
            <li><a href='travels'>travels</a></li>
            <li><a class='bingo' href='bingo'>bingo</a></li>
        </ul>
    </div>
</div>    