<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>miss poopy pants</title>
    <link rel="icon" type="image/x-icon" href="white-star.svg">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="header">
        <div class="blog-name"><a href="index.html" style="color: pink;">miss poopy pants</a></div>
        <div class="menu">
            <ul>
                <li><a href="about.html">about</a></li>
                <li><a href='movies.html'>movies</a></li>
                <li><a href='books.html'>books</a></li>
                <li><a href='travels.html'>travels</a></li>
            </ul>
        </div>
    </div>    

    <div class="main-body">
        <div>dummy text</div>

    </div>

    <div class="footer">
        <div class="footer-text">made by yasmine boulkaid - 2025</div>
        <div class="footer-text">slow down, you're doing fine</div>
    </div>
</body>
</html>